{
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-optional-chaining",
    [
      "captains-log",
      {
        "methods": [
          "debug",
          "error",
          "exception",
          "log",
          "warn"
        ]
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "chrome > 62",
            "firefox > 46",
            "safari >= 11",
            "opera > 49",
            "edge > 11"
          ]
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-stage-0"
  ]
}
