{
  "plugins": [
    "@babel/plugin-transform-flow-comments",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-syntax-decorators",
    "@babel/plugin-proposal-class-properties",
    [
      "captains-log",
      {
        "methods": [
          "debug",
          "error",
          "exception",
          "log",
          "warn"
        ]
      }
    ]
  ],
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    "@babel/preset-stage-0"
  ]
}
