**/node_modules/*
**/dist/*
!.eslintrc.js
!.eslintrc-prettier.js
**/flow-typed/**
templates/*
frogapi-test/**
frog/packages/**
packages/**
frog/imports/packages/**
**/clientFiles/*
**/frog/imports/internalActivities/ac-autocode/client/lib/**
cypress/**
package-scripts.js
