body {
  font-family: sans-serif;
  background-color: #fff;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.item {
  position: absolute;
  border: 1px solid black;
  background-color: #ddddff;
}

#container {
  border: 1px solid gray;
  width: 100%;
  height: 500px;
}

.title {
  padding: 10px;
  cursor: move;
}
  
.connect {
  width: 100%;
  height: 20px;
  background-color: white;
  cursor: pointer;
}

#body {
  padding: 20px 15px 20px 15px;
  max-height: 100%;
  max-width: 800px;
  margin: 0 auto;
  background: #eee;
}
