body {
  font-family: sans-serif;
  background-color: #fff;
  background-attachment: fixed;

  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

#body {
  padding: 20px 15px 20px 15px;
  margin: 0 auto;
  background: #eee;
}

#header {
  display: flex;
}

#login-buttons {
  margin: 10px;
}

