html {
  height: 100%;
}

body, #render-target, #app {
    font-family: Roboto, sans-serif;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 12pt;
}

#app {
    /*display: flex;*/
    /*flex-direction: column;*/
    overflow: hidden;
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*flex-grow: 1;*/
    /*flex-direction: column;*/
}

#header {
    /*display: flex;*/
    /*flex: 0 0 auto;*/
}

#body {
    /*display: flex;*/
    /*flex: 1 1 auto;*/
    /*background: #f8f8f8;*/
}

/*#home, #graph, #teacher, #student {*/
/*flex: 1 1 auto;*/
/*}*/

/*#login-buttons {*/
/*margin: 10px;*/
/*}*/

/*#topPanel {*/
/*background-color: #ccccff;*/
/*width: 100%;*/
/*overflow: visible;*/
/*display: flex;*/
/*justify-content: space-between;*/
/*}*/

/*#sidePanel {*/
/*background-color: #ffffff;*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/

/*.edithover {*/
/*display: none;*/
/*}*/

/*span:hover + .edithover {*/
/*display: inline;*/
/*}*/

/*.edithover:hover {*/
/*display: inline;*/
/*}*/
/*.react-spinner {*/
/*position: relative;*/
/*width: 32px;*/
/*height: 32px;*/
/*top: 50%;*/
/*left: 50%;*/
/*}*/

/*.react-spinner_bar {*/
/*-webkit-animation: react-spinner_spin 1.2s linear infinite;*/
/*-moz-animation: react-spinner_spin 1.2s linear infinite;*/
/*animation: react-spinner_spin 1.2s linear infinite;*/
/*border-radius: 5px;*/
/*background-color: green;*/
/*position: absolute;*/
/*width: 20%;*/
/*height: 7.8%;*/
/*top: -3.9%;*/
/*left: -10%;*/
/*}*/

/*@keyframes react-spinner_spin {*/
/*0% { opacity: 1; }*/
/*100% { opacity: 0.15; }*/
/*}*/

/*@-moz-keyframes react-spinner_spin {*/
/*0% { opacity: 1; }*/
/*100% { opacity: 0.15; }*/
/*}*/

/*@-webkit-keyframes react-spinner_spin {*/
/*0% { opacity: 1; }*/
/*100% { opacity: 0.15; }*/
/*}*/

/*table*/
/*{*/
/*font-family: Calibri, 'Segoe UI', Thonburi, Arial, Verdana, sans-serif;*/
/*font-size: 14px;*/

/*border-spacing: 0;*/

/*color: #000;*/
/*border-width: 0 0 1px 1px;*/
/*border-style: solid;*/
/*border-color: #cacaca;*/
/*table-layout:fixed;*/

/*margin: auto*/
/*}*/

/*table:focus {*/
/*outline: none;*/
/*}*/

/*td,*/
/*th*/
/*{*/
/*position: relative;*/

/*display: inline-block;*/

/*box-sizing: border-box;*/
/*width: 150px;*/
/*height: 25px;*/
/*margin: 0;*/
/*padding: 0;*/

/*border-width: 1px 1px 0 0;*/
/*border-style: solid;*/
/*border-color: #cacaca;*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*white-space: nowrap;*/
/*}*/

/*th*/
/*{*/
/*background-color: #f0f0f0;*/
/*}*/

/*td div,*/
/*th div*/
/*{*/
/*height: 100%;*/
/*}*/

/*td span, th span*/
/*{*/
/*line-height: 15px;*/

/*display: inline-block;*/

/*width: calc(100% - 8px);*/
/*height: calc(100% - 8px);*/
/*padding: 4px;*/
/*}*/

/*td input*/
/*{*/
/*font-family: Calibri, 'Segoe UI', Thonburi, Arial, Verdana, sans-serif;*/
/*font-size: 14px;*/

/*position: absolute;*/
/*z-index: 100;*/

/*display: inline-block;*/

/*width: calc(100% - 8px);*/
/*height: calc(100% - 8px);*/
/*margin: 0;*/
/*padding: 4px;*/

/*color: #000;*/
/*border: none;*/
/*background-color: #fff;*/
/*}*/

/*td.selected*/
/*{*/
/*border: 2px solid #1e6337;*/
/*}*/

/*td.selected span*/
/*{*/
/*padding: 3px 3px 3px 2px;*/
/*}*/

/*input:focus,*/
/*select:focus,*/
/*textarea:focus,*/
/*button:focus*/
/*{*/
/*outline: none;*/
/*}*/
