html {
  height: 100%;
}

body, #render-target, #app {
  font-family: sans-serif;
  background-color: #fff;
  background-attachment: fixed;

  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  height: 100%;

  font-size: 14px;
}

#app {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  flex: 0 0 auto;
}

#body {
  display: flex;
  flex: 1 1 auto;
  background: #f8f8f8;
}

#home, #graph, #teacher, #student {
  flex: 1 1 auto;
}

#login-buttons {
  margin: 10px;
}

#topPanel {
  background-color: #ccccff;
  width: 100%;
  overflow: visible;
  display: flex;
  justify-content: space-between;
}

#sidePanel {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.edithover {
    display: none;
}

span:hover + .edithover {
    display: inline;
}

.edithover:hover {
    display: inline;
}
.react-spinner {
  position: relative;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
}

.react-spinner_bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: green;
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%;
}

@keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}
