{
	"plugins": [
		"@babel/plugin-transform-flow-strip-types",
		"@babel/plugin-proposal-optional-chaining",
		[
			"captains-log",
		{
			"methods": [
				"debug",
			"error",
			"exception",
			"log",
			"warn"
			]
		}
		]
	]
	
}
